@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    h1 {
        @apply text-5xl font-serif font-bold mb-2 leading-tight;
    }
    h2 {
        @apply text-3xl font-serif font-bold mb-12 leading-tight;
    }
    h3 {
        @apply text-xl font-serif font-bold mb-2 text-gray-900 leading-tight;
    }
    p {
        @apply font-sans text-gray-800 mb-8 text-lg leading-relaxed;
    }
    a, button {
        @apply text-lg font-normal;
    }
    li {
        @apply font-thin text-gray-800;
    }
    input {
        @apply border border-gray-500 rounded py-2 px-4 w-full;
    }
    section {
        @apply my-8;
    }
    pre {
        @apply p-6 bg-gray-900 mb-8 rounded overflow-x-scroll;
    }
    code {
        @apply px-1 text-primary font-bold font-sans;
    }
    pre code {
        @apply font-mono text-gray-300 p-0 leading-loose;
    }
    .remark-code-title {
        @apply p-2 font-bold;
    }
    .frontmatter {
        @apply flex justify-between items-center mb-16;
    }
    .frontmatter p {
        @apply text-base text-gray-700 ml-2 mb-0;
    }
    .time-line {
        @apply w-48px flex-none justify-center;
    }
    .event-list {
        @apply mt-4;
    }
    .event {
        @apply relative mb-8;
    }
    .year-event {
        @apply relative mb-8;
    }
    .year-event h3 {
        @apply font-light font-sans leading-normal;
    }
    .event h3 {
        @apply m-0 text-lg font-sans leading-normal;
    }
    .event p {
        @apply m-0;
    }
    .event .event-point {
        @apply h-point w-point rounded-full bg-secondary absolute left-0 top-0 ml-time-inset mt-2;
    }
    .year-event .event-point {
        @apply h-point w-point bg-secondary absolute left-0 top-0 ml-time-inset mt-2;
    }
    .underlined-title {
        position: relative;
    }
    .underlined-title:before {
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 96px;
        height: 1px;
        background-color: black;
    }
}